<ion-header>

    <ion-toolbar>

      <ion-segment [(ngModel)]="interval">
        <ion-segment-button value="day" (click)="loadData('day')">
          Day
        </ion-segment-button>
        <ion-segment-button value="month" (click)="loadData('month')">
          Month
        </ion-segment-button>
        <ion-segment-button value="year" (click)="loadData('year')">
           Year
        </ion-segment-button>
        <ion-segment-button value="overall" (click)="loadData('overall')">
          Overall
        </ion-segment-button>
      </ion-segment>

    </ion-toolbar>

  </ion-header>


  <ion-content (swipe)="swipeEvent($event)" padding>

      <ion-card>
          <ion-card-header>
            Line Chart
          </ion-card-header>
          <ion-card-content>
            <canvas #lineCanvas></canvas>
          </ion-card-content>
        </ion-card>
    
  <div [ngSwitch]="interval">
    <ion-list *ngSwitchCase="'day'">
        <!-- {{dataDay}} -->
        <!-- <chart [options] = "chartOptionsDaily" style="display: block" type = "chart"> </chart> -->
    </ion-list>
    <ion-list *ngSwitchCase="'month'">
        <!-- {{datamonth}} -->
        <!-- <chart [options] = "chartOptionsMonthly" style="display: block" type = "chart"> </chart> -->
      <!-- <ion-item *ngFor="let user of users">
        <h2>{{user.name}}</h2>
        <p>{{user.email}}</p>
      </ion-item> -->
    </ion-list>
    <ion-list *ngSwitchCase="'year'">
      <!-- {{dataYearly}} -->
      <!-- <chart [options] = "chartOptionsYearly" style="display: block" type = "chart"> </chart> -->
      <!-- <ion-item *ngFor="let c of countries">
        <ion-avatar item-left>
          <img src="{{c.flag}}">
        </ion-avatar>
        <h2>{{c.name}}</h2>
        <p>Capital: {{c.capital}}, Region: {{c.region}}</p>
      </ion-item> -->
    </ion-list>
    <ion-list *ngSwitchCase="'overall'">
      <!-- {{dataOverall}} -->
      <!-- <chart [options] = "chartOptionsOverall" style="display: block" type = "chart"> </chart> -->
    </ion-list>
  </div>   

</ion-content>
