.light-theme {
    h1, h2, h3, h4, h5, h6,
    .toolbar-title {
      color: $light-dark;
    }
    .toolbar-background {
      background-color: $light-light;
    }
    ion-content {
      background-color: $light-background;
    }
    ion-list {
      .item {
        background-color: ($light-light);
      }
    }
  }