.dark-theme {
  h1, h2, h3, h4, h5, h6,
  .toolbar-title {
    color: $dark-dark;
  }
  .toolbar-background {
    background-color: $dark-light;
  }
  ion-content {
    background-color: $dark-background;
  }
  ion-list {
    .item {
      background-color: ($dark-dark);
    }
  }
}